* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    border: 2px solid ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 1200px;
    
    margin: auto;
}
main div {

    padding: 20px;
    border: 1px solid;
}

.a, .b, .d, .g, .l{
    grid-column: span 2;
}

.a, .d, .l {
 display: grid;
 grid-template-columns: 1fr 1fr;
}


.b{
    
}
.c{
    
}
.d{
    
}
.e{
    grid-row: span 2;
}
.f{
    
}
.g{
    background-image: url(img/ux.png);
    background-repeat: no-repeat;
    background-position-x: center ;
    background-position-y: bottom;
    background-size: 60%;

}
.h{
    
}
.i{
    
}
.l{
    
}